Repository ChromeGG/familiada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add sharable validation rules
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-validator.ts
  apps/api/src/plugins/env.ts
  apps/api/src/validation.ts
Due: eslint --fix

Change return type of createGame
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.ts
  apps/api/tests/game.test.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Split test helpers into separate files
  apps/api/tests/helpers.ts
  apps/api/tests/helpers/game.ts
  apps/api/tests/helpers/player.ts
  apps/api/tests/helpers/team.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Fix helper' types
  apps/api/src/game/game-service.test.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Add max query depth limit
  apps/api/package.json
  apps/api/src/builder.ts
  apps/api/src/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix issues with .env
  apps/api/.env.example
  apps/api/.env.test
  apps/api/jest.setup.ts
  apps/api/src/index.ts
  apps/api/src/plugins/env.ts
  apps/api/src/server.ts
Due: eslint --fix

Add migrate step to readme
  README.md
  TODO.md
  apps/api/TODO.md
  apps/api/package.json
  package.json
Due: prettier --write

Add limits to renovate
  renovate.json
Due: prettier --write

update web packages
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

Update dependencies
  apps/api/package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade renovate config
  TODO.md
  renovate.json
  renovate.json5
Due: prettier --write

Fix type errors in game-schema
  apps/api/package.json
  apps/api/src/game/game-schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add type check on staged files
  .gitignore
  .husky/pre-commit
  TODO.md
  apps/api/.gitignore
  apps/api/package.json
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/tsconfig/nextjs.json
  turbo.json
Due: prettier --write

Add better logging
  .husky/pre-commit
  apps/api/package.json
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add JoinToGame implementation
  apps/api/.env.example
  apps/api/src/game/contract/create-game-args.ts
  apps/api/src/game/contract/join-to-game-args.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.test.ts
  apps/api/src/game/game-service.ts
  apps/api/src/game/game-validator.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/server.ts
  apps/api/src/validation.ts
  apps/api/tests/helpers/game.ts
  package.json
Due: eslint --fix, prettier --write

Refactor graphql server to separate file
  apps/api/src/builder.ts
  apps/api/src/game/game-service.test.ts
  apps/api/src/game/game-service.ts
  apps/api/src/graphql-server.ts
  apps/api/src/server.ts
  apps/api/src/team/team-schema.ts
  apps/api/tests/helpers.ts
  apps/api/tests/helpers/game.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Remove old comments
  apps/api/src/game/game-service.test.ts
  apps/api/src/game/game-service.ts
Due: eslint --fix

Import types from modules instead prisma
  apps/api/src/game/contract/join-to-game-args.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.test.ts
  apps/api/src/game/game-service.ts
  apps/api/src/game/game-validator.ts
  apps/api/src/graphql-server.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/server.ts
  apps/api/src/team/team-schema.ts
  apps/api/tests/game.test.ts
  apps/api/tests/helpers/game.ts
Due: eslint --fix

Fix helmetjs
  apps/api/jest.setup.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/server.ts
  apps/api/tests/game.test.ts
Due: eslint --fix

Add health check
  apps/api/package.json
  apps/api/src/graphql-server.ts
  apps/api/src/plugins/status.ts
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add gameStatus as enum to GQL schema
  apps/api/src/game/game-schema.ts
Due: eslint --fix

Make web ESM
  apps/api/package.json
  apps/api/src/server.ts
  apps/web/i18.old.js
  apps/web/i18n.json
  apps/web/locales/en/common.json
  apps/web/locales/pl/common.json
  apps/web/locales/pl/error.json
  apps/web/locales/pl/test.json
  apps/web/next.config.js
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/tsconfig/nextjs.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update web dependencies
  apps/web/TODO.md
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

Add batteries to the FE
  apps/web/.env.sample
  apps/web/TODO.md
  apps/web/package.json
  apps/web/src/components/MyComponent.tsx
  apps/web/src/configuration/index.ts
  apps/web/src/configuration/theme.ts
  apps/web/src/core/graphqlClient.ts
  apps/web/src/core/logger.ts
  apps/web/src/helpers/common.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/_error.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/types/next.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add codegen
  .vscode/settings.json
  apps/api/TODO.md
  apps/web/codegen.yml
  apps/web/package.json
  apps/web/sdl.gql
  apps/web/src/components/MyComponent.tsx
  apps/web/src/configuration/index.ts
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/queries/game.ts
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add example validation with zod and RHF
  apps/web/TODO.md
  apps/web/locales/pl/common.json
  apps/web/package.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/components/MyComponent.tsx
  apps/web/src/configuration/theme.ts
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Detect error with TS
  apps/web/package.json
  apps/web/src/components/CreateGameForm.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Show issue with infinite Type
  apps/web/src/components/CreateGameForm.tsx
Due: eslint --fix

refactor: :wrench: Remove duplicated config
  apps/web/i18.old.js
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/tsconfig.json
  packages/tsconfig/base.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add example form
  apps/web/README.md
  apps/web/TODO.md
  apps/web/locales/pl/common.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/createGame.mutation.ts
  apps/web/src/validators/createGame.validator.ts
Due: eslint --fix, prettier --write

Handle game already exist error and redirect
  apps/web/locales/pl/error.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix, prettier --write

Add PoC of subscriptions on FE
  apps/web/package.json
  apps/web/src/core/graphqlClient.ts
  apps/web/src/core/sseLink.ts
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/queries/game.ts
  apps/web/src/graphql/subscriptions/players.ts
  apps/web/src/pages/[gameId].tsx
  apps/web/src/validators/createGame.validator.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: :recycle: change tester shape
  apps/api/src/game/game-service.test.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/game.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Group PR with dependency updates
  renovate.json5
Due: none

Fix subscription error
  apps/web/package.json
  apps/web/src/core/MyYogaLink.ts
  apps/web/src/core/graphqlClient.ts
  apps/web/src/core/sseLink.ts
  apps/web/src/pages/[gameId].tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add relations to the GQL schema
  apps/api/src/game/game-schema.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/team/team-schema.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

Port some components from familiada-legacy
  apps/api/README.md
  apps/api/TODO.md
  apps/web/locales/pl/common.json
  apps/web/src/components/Board.tsx
  apps/web/src/components/Question.tsx
  apps/web/src/pages/[gameId].tsx
  apps/web/src/pages/_document.tsx
Due: eslint --fix, prettier --write

Regenerate sdl.gql and fix gql endpoint
  apps/web/sdl.gql
  apps/web/src/core/graphqlClient.ts
Due: eslint --fix

refactor: :truck: Change naming file convention
  apps/api/src/builder.ts
  apps/api/src/game/contract/createGame.args.ts
  apps/api/src/game/contract/joinToGame.args.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/team/team.schema.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers.ts
  apps/api/tests/helpers/game.ts
  apps/api/tests/tester.ts
Due: eslint --fix

Fix players subscription
  apps/api/src/errors/error.schema.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/schema.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/*.{js,jsx,ts,tsx})
  prettier --write: any of: *.json
