Repository ChromeGG/familiada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(round): :label: make round state non nullable and move game status to round
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.ts
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/web/sdl.gql
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/subscriptions/game.subscription.ts
  apps/web/src/graphql/subscriptions/round.subscription.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

style(round): :lipstick: Improve board styling
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/Board/BoardTypography.tsx
Due: eslint --fix

chore: :arrow_up: Upgrade graphql youga from v2 to v3
  apps/api/package.json
  apps/api/src/errors/GraphQLOperationalError.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/round/round.schema.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: :sparkles: add delay to pubSub after answer action
  apps/api/TODO.md
  apps/api/package.json
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.ts
  apps/api/src/utils/utils.ts
  apps/api/tsconfig.json
  beforeProductionRelease.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: :sparkles: add FAQ page
  .vscode/settings.json
  apps/web/i18n.json
  apps/web/locales/en/faq.json
  apps/web/locales/pl/faq.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/core/graphqlClient.ts
  apps/web/src/pages/faq.tsx
Due: eslint --fix, prettier --write

docs: :memo: update repository field in package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
Due: prettier --write

fix: :bug: fix minor bugs (autocomplete, revealAll, broadcasting startGame)
  apps/api/prisma/seed.ts
  apps/api/src/game/game.service.ts
  apps/api/src/round/round.repository.ts
  apps/web/src/components/stages/WaitingForAnswerStage/SendAnswerForm.tsx
Due: eslint --fix

feat(round): :sparkles: handle game finished state
  apps/api/prisma/seed.ts
  apps/web/locales/pl/common.json
  apps/web/src/components/stages/GameFinishedStage.tsx
  apps/web/src/components/stages/StageController.tsx
Due: eslint --fix, prettier --write

build: :building_construction: abandon prisma custom generated output to fix production build
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/game/utils/checkAnswer.util.ts
  apps/api/src/game/utils/getAnsweringPlayers.util.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.util.test.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.util.ts
  apps/api/src/player/player.repository.ts
  apps/api/src/prisma.ts
  apps/api/src/question/question.repository.ts
  apps/api/src/question/question.schema.ts
  apps/api/src/question/question.service.ts
  apps/api/src/round/contract/AnsweringPlayer.object.ts
  apps/api/src/round/contract/GameAnswer.object.ts
  apps/api/src/round/contract/GameTeam.object.ts
  apps/api/src/round/round.repository.ts
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/api/src/round/utils/countFailures.utils.ts
  apps/api/src/round/utils/countScore.util.ts
  apps/api/src/server.ts
  apps/api/src/team/team.repository.ts
  apps/api/src/team/team.schema.ts
  apps/api/src/team/team.service.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/answer.helper.ts
  apps/api/tests/helpers/game.helper.ts
  apps/api/tests/helpers/miscellaneous.helper.ts
  apps/api/tests/helpers/question.helper.ts
  apps/api/tests/helpers/team.helper.ts
  packages/eslint-config-custom/index.js
  packages/tsconfig/base.json
Due: eslint --fix, prettier --write

build: :hammer: add scripts for starting api and web from root level
  apps/api/package.json
  package.json
Due: prettier --write

build: :construction_worker: add host enviroment variable to api
  apps/api/src/index.ts
  apps/api/src/plugins/env.ts
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/pages/faq.tsx
  beforeProductionRelease.md
Due: eslint --fix

build: :construction_worker: try to fix vercel build
  apps/api/package.json
  package.json
Due: prettier --write

disable renovate bot
  renovate.json5
Due: none

Test Railway trigger
  .gitignore
Due: none

build: :construction_worker: try to build docker image for railway
  apps/api/Dockerfile
  apps/api/scratch.js
Due: eslint --fix

build: :construction_worker: try to build docker image for railway - fix path
  apps/api/Dockerfile
Due: none

Create License
  License
Due: none

Create License (#38)
  License
Due: none

chore: :arrow_up: Update PNPM and Node version
  .husky/pre-commit
  .nvmrc
  apps/api/Dockerfile
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

try to build without dockerfile
  apps/api/Dockerfile
Due: none

Downgrade pnpm and update prisma
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add example dockerfile
  .dockerignore
  apps/api/Dockerfile
Due: none

Add dockerfile for API
  .vscode/database-client-config.json
  apps/api/Dockerfile
  apps/api/src/plugins/status.ts
  docker-compose.yml
Due: eslint --fix, prettier --write

Add dockerfile for web
  apps/web/Dockerfile
Due: none

Fix bad api url
  apps/web/.env.sample
  apps/web/src/configuration/index.ts
Due: eslint --fix

Set ENV before running the instal scripts
  apps/web/Dockerfile
  apps/web/src/configuration/index.ts
Due: eslint --fix

Add web service to docker compose
  apps/web/Dockerfile
  apps/web/src/pages/index.tsx
  docker-compose.yml
Due: eslint --fix

Turn off security headers for nextjs
  apps/web/next.config.mjs
Due: none

Add headers manually
  apps/web/next.config.mjs
Due: none

Add nextjs headers
  apps/web/next.config.mjs
Due: none

Fix source
  apps/web/next.config.mjs
Due: none

Turn off CORS
  apps/api/src/graphqlServer.ts
  apps/api/src/server.ts
Due: eslint --fix

turn off cors 2
  apps/api/src/graphqlServer.ts
Due: eslint --fix

Add CORS handling
  apps/api/package.json
  apps/api/src/graphqlServer.ts
  apps/api/src/plugins/env.ts
  apps/api/src/server.ts
  apps/api/src/utils/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove console.logs
  apps/api/scratch.js
  apps/web/src/pages/index.tsx
Due: eslint --fix

Return security headers
  apps/web/next.config.mjs
Due: none

ci: :construction_worker: Add simple CI pipeline (#42)
  apps/api/package.json
  apps/api/scratch.js
  apps/api/src/graphqlServer.ts
  apps/api/src/plugins/env.ts
  apps/api/src/server.ts
  apps/api/src/utils/utils.ts
  apps/web/next.config.mjs
  apps/web/src/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: separate docker -compose apps build to two files
  README.md
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat: :building_construction: message broker implementation - PoC
  apps/api/consumer.ts
  apps/api/package.json
  apps/api/producer.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade nextjs version
  apps/api/.eslintrc.cjs
  apps/web/i18n.json
  apps/web/locales/en/common.json
  apps/web/locales/en/error.json
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/faq.tsx
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/*.{js,jsx,ts,tsx})
  prettier --write: any of: *.json
