Repository ChromeGG/familiada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Update dev dependencies
  apps/web/package.json
Due: prettier --write

add lock file
  pnpm-lock.yaml
Due: none

Update others deps
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

self review
  apps/web/src/pages/_app.tsx
  docker-compose.prod.yml
  docker-compose.yml
Due: eslint --fix

chore: :arrow_up: Next JS upgrade (#44)
  README.md
  apps/api/.eslintrc.cjs
  apps/web/i18n.json
  apps/web/locales/en/common.json
  apps/web/locales/en/error.json
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/faq.tsx
  docker-compose.prod.yml
  docker-compose.yml
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: :seedling: Update seed file
  apps/api/prisma/seed.ts
Due: eslint --fix

chore: :seedling: Update seed file (#45)
  apps/api/prisma/seed.ts
Due: eslint --fix

Update dev dependencies
  apps/api/README.md
  apps/api/package.json
  apps/api/src/graphqlServer.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

bump eslint
  apps/api/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

Update rest of deps
  apps/api/package.json
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

add comment
  apps/api/src/server.ts
Due: eslint --fix

Update be dependencies (#47)
  apps/api/README.md
  apps/api/package.json
  apps/api/src/graphqlServer.ts
  apps/api/src/server.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(question): :sparkles: obtain random question
  apps/api/src/question/question.repository.ts
Due: eslint --fix

fix: :seedling: simplify one answer
  apps/api/prisma/seed.ts
Due: eslint --fix

feat(question): ✨ obtain random question (#48)
  apps/api/prisma/seed.ts
  apps/api/src/question/question.repository.ts
Due: eslint --fix

feat(game): :sparkles: Choose game language
  apps/api/src/game/contract/createGame.args.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.validator.ts
  apps/api/tests/functional/game.test.ts
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/validators/createGame.validator.ts
Due: eslint --fix

feat(game): :sparkles: Choose game language (#50)
  apps/api/src/game/contract/createGame.args.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.validator.ts
  apps/api/tests/functional/game.test.ts
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/validators/createGame.validator.ts
Due: eslint --fix

chore: add automation script and add missing translations
  README.md
  apps/web/.env.example
  apps/web/locales/en/common.json
  apps/web/locales/pl/common.json
  apps/web/src/components/CreateGameForm.tsx
  dev
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: :construction_worker: fix build
  apps/api/.env.test
  apps/api/prisma/migrations/20221021224140_init_schema/migration.sql
  apps/api/src/game/game.validator.ts
  apps/api/src/plugins/env.ts
  apps/api/src/server.ts
  turbo.json
Due: eslint --fix, prettier --write
