Repository ChromeGG/familiada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add smart subscription
  apps/api/package.json
  apps/api/src/builder.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/player/player.schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add query Me
  apps/api/TODO.md
  apps/api/src/graphqlServer.ts
  apps/api/src/player/player.schema.ts
Due: eslint --fix

Update pothos plugins
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

Generate prisma out of node_modules
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/prisma.ts
  apps/api/src/team/team.schema.ts
Due: eslint --fix

feat(Player): :sparkles: Add initial state for Players subscription
  .vscode/settings.json
  apps/api/TODO.md
  apps/api/package.json
  apps/api/src/builder.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/player/player.service.test.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/helpers.ts
  apps/api/tests/helpers/game.ts
  apps/api/tests/helpers/player.ts
  apps/api/tests/tester.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: :building_construction: Introduce repository pattern
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/player/player.repository.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/player/player.service.test.ts
  apps/api/src/player/player.service.ts
  apps/api/src/team/team.repository.ts
  apps/api/tests/helpers/game.ts
Due: eslint --fix, prettier --write

refactor(game): :recycle: Change joinToGame GQL args
  apps/api/src/game/contract/joinToGame.args.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/player/player.service.test.ts
  apps/api/tests/helpers/player.ts
  apps/web/sdl.gql
  apps/web/src/graphql/generated/index.ts
Due: eslint --fix

refactor(team): :truck: Rename teamColor to color
  apps/api/README.md
  apps/api/TODO.md
  apps/api/package.json
  apps/api/prisma/migrations/20221009181550_rename_team_color_to_color/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/team/team.schema.ts
  apps/web/sdl.gql
  apps/web/src/graphql/generated/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(player): :sparkles: Separate playerJoined event for different games
  apps/api/src/game/game.service.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/player/player.schema.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

feat(player): :sparkles: Add players cards
  apps/api/tests/functional/player.test.ts
  apps/api/tests/tester.ts
  apps/web/locales/pl/common.json
  apps/web/package.json
  apps/web/src/components/TeamCard.tsx
  apps/web/src/components/TeamsSection.tsx
  apps/web/src/configuration/theme.ts
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/subscriptions/players.ts
  apps/web/src/interfaces/common.ts
  apps/web/src/pages/[gameId].tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: :sparkles: Add join to game form
  apps/api/tests/functional/player.test.ts
  apps/web/README.md
  apps/web/TODO.md
  apps/web/locales/pl/common.json
  apps/web/package.json
  apps/web/sdl.gql
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/joinToGame.mutation.ts
  apps/web/src/pages/[gameId].tsx
  apps/web/src/validators/joinToGame.validator.ts
  graphql.config.yaml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(game): :sparkles: Add join to game flow
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/graphqlServer.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/functional/player.test.ts
  apps/web/package.json
  apps/web/sdl.gql
  apps/web/src/components/Board.tsx
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/joinToGame.mutation.ts
  apps/web/src/graphql/subscriptions/game.ts
  apps/web/src/pages/[gameId].tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/store/me.ts
  package.json
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: :recycle: Add Me state
  apps/api/TODO.md
  apps/web/locales/pl/common.json
  apps/web/src/components/Board.tsx
  apps/web/src/components/Button.tsx
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/components/TeamsSection.tsx
  apps/web/src/components/stage/LobbyStage.tsx
  apps/web/src/components/stage/Stage.tsx
  apps/web/src/components/stage/StartGameButton.tsx
  apps/web/src/components/stage/TextSection.tsx
  apps/web/src/pages/[gameId].tsx
  apps/web/src/store/me.ts
Due: eslint --fix, prettier --write

refactor(player): :recycle: Decouple Gql types from inner types on FE
  apps/web/locales/pl/common.json
  apps/web/src/components/Board.tsx
  apps/web/src/components/stage/LobbyStage.tsx
  apps/web/src/components/stage/Stage.tsx
  apps/web/src/components/stage/StartGameButton.tsx
  apps/web/src/hooks/usePlayers.ts
  apps/web/src/interfaces/common.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix, prettier --write

feat(game): :sparkles: Add startGame mutation on BE
  apps/api/src/game/contract/startGame.args.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/player/player.service.test.ts
  apps/api/src/player/player.service.ts
  apps/api/src/server.ts
  apps/api/src/team/team.repository.ts
  apps/api/src/team/team.schema.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/game.ts
Due: eslint --fix

feat: :card_file_box: new database schema
  apps/api/README.md
  apps/api/package.json
  apps/api/prisma/migrations/20221009181550_rename_team_color_to_color/migration.sql
  apps/api/prisma/migrations/20221018213129_init_schema/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/player/player.service.test.ts
  apps/api/src/player/player.service.ts
  apps/api/src/team/team.repository.ts
  apps/api/src/team/team.schema.ts
  apps/api/tests/functional/game.test.ts
  apps/web/sdl.gql
  apps/web/src/graphql/generated/index.ts
Due: eslint --fix, prettier --write

refactor: :recycle: Change game state holding
  apps/api/src/game/game.schema.ts
  apps/api/src/player/player.schema.ts
  apps/api/src/player/player.service.test.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/functional/player.test.ts
  apps/web/locales/pl/common.json
  apps/web/sdl.gql
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/components/TeamsSection.tsx
  apps/web/src/components/stage/Stage.tsx
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/components/stages/TextSection.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/startGame.mutation.ts
  apps/web/src/graphql/queries/game.ts
  apps/web/src/graphql/subscriptions/game.subscription.ts
  apps/web/src/graphql/subscriptions/players.ts
  apps/web/src/hooks/usePlayers.ts
  apps/web/src/interfaces/common.ts
  apps/web/src/pages/[gameId].tsx
  apps/web/src/pages/index.tsx
  apps/web/src/store/game.ts
Due: eslint --fix, prettier --write

fix(team): :bug: set nextAnsweringPlayerId during game creation and game joining
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/team/team.repository.ts
  apps/api/src/team/team.service.ts
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
Due: eslint --fix

Add player reference to nextPlayerId in Team
  apps/api/TODO.md
  apps/api/package.json
  apps/api/prisma/migrations/20221021224140_init_schema/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/answer/answer.schema.ts
  apps/api/src/game/contract/yieldsQuestion.args.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/question/question.repository.ts
  apps/api/src/question/question.schema.ts
  apps/api/src/question/question.service.ts
  apps/api/src/schema.ts
  apps/api/tests/functional/game.test.ts
  apps/web/TODO.md
  apps/web/sdl.gql
Due: eslint --fix, prettier --write

Finish backed mutation
  .vscode/settings.json
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.utils.test.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.utils.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/game.helper.ts
  apps/api/tests/helpers/player.helper.ts
  apps/api/tests/helpers/question.helper.ts
  apps/api/tests/helpers/team.helper.ts
  apps/api/tests/helpers/team.ts
  apps/api/tests/tester.ts
  apps/web/sdl.gql
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/subscriptions/game.subscription.ts
Due: eslint --fix, prettier --write

Add frontend implementation
  apps/api/src/question/question.schema.ts
  apps/web/sdl.gql
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/yieldQuestion.mutation.ts
  apps/web/src/store/game.ts
Due: eslint --fix

feat: ✨ add yield question mutation (#28)
  .vscode/settings.json
  apps/api/TODO.md
  apps/api/package.json
  apps/api/prisma/migrations/20221021224140_init_schema/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/answer/answer.schema.ts
  apps/api/src/game/contract/yieldsQuestion.args.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.utils.test.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.utils.ts
  apps/api/src/question/question.repository.ts
  apps/api/src/question/question.schema.ts
  apps/api/src/question/question.service.ts
  apps/api/src/schema.ts
  apps/api/src/team/team.repository.ts
  apps/api/src/team/team.service.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/game.helper.ts
  apps/api/tests/helpers/player.helper.ts
  apps/api/tests/helpers/question.helper.ts
  apps/api/tests/helpers/team.helper.ts
  apps/api/tests/helpers/team.ts
  apps/api/tests/tester.ts
  apps/web/TODO.md
  apps/web/sdl.gql
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/yieldQuestion.mutation.ts
  apps/web/src/graphql/subscriptions/game.subscription.ts
  apps/web/src/store/game.ts
Due: eslint --fix, prettier --write

feat(State): :sparkles: Add GQL schema for game state
  .vscode/settings.json
  apps/api/src/answer/answer.schema.ts
  apps/api/src/board/board.repository.ts
  apps/api/src/board/board.schema.ts
  apps/api/src/board/board.service.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/schema.ts
Due: eslint --fix, prettier --write

feat(state): :sparkles: finish state implementation
  .vscode/settings.json
  apps/api/src/board/board.repository.ts
  apps/api/src/board/board.schema.ts
  apps/api/src/board/board.service.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/round/round.repository.ts
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.ts
  apps/api/src/round/round.validator.ts
  apps/api/src/schema.ts
  apps/web/sdl.gql
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/subscriptions/round.subscription.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix, prettier --write

test(round): :test_tube: Add missing test
  .vscode/settings.json
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.service.ts
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/api/tests/helpers/game.helper.ts
Due: eslint --fix, prettier --write

fix(player): :lock: add auth scopes to the mutations
  apps/api/src/builder.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/server.ts
Due: eslint --fix

fix: :lock: replace graphql args with data from context
  apps/api/src/game/contract/startGame.args.ts
  apps/api/src/game/contract/yieldsQuestion.args.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/graphqlServer.ts
  apps/api/tests/functional/game.test.ts
  apps/api/tests/helpers/game.helper.ts
  apps/api/tests/helpers/question.helper.ts
Due: eslint --fix

chore: :lock: add auth via authorization header
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.ts
  apps/api/src/round/round.schema.ts
  apps/web/sdl.gql
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/startGame.mutation.ts
  apps/web/src/graphql/mutations/yieldQuestion.mutation.ts
Due: eslint --fix

feat(game): :sparkles: add answer question mutation
  apps/api/package.json
  apps/api/src/builder.ts
  apps/api/src/game/contract/answerQuestion.args.ts
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/game.validator.ts
  apps/api/src/game/utils/checkAnswer.util.test.ts
  apps/api/src/game/utils/checkAnswer.util.ts
  apps/api/src/game/utils/getAnsweringPlayers.util.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.util.test.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.util.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.utils.test.ts
  apps/api/src/game/utils/simplifyAnswer.test.ts
  apps/api/src/game/utils/simplifyAnswer.util.ts
  apps/api/src/graphqlServer.ts
  apps/api/tests/helpers/answer.helper.ts
  apps/api/tests/helpers/game.helper.ts
  apps/api/tests/tester.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(round): :wrench: Handle subscriptions and mutations in separation
  .vscode/settings.json
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/web/package.json
  apps/web/sdl.gql
  apps/web/src/components/Board.tsx
  apps/web/src/components/TeamCard.tsx
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/configuration/theme.ts
  apps/web/src/core/SubscriptionLink.ts
  apps/web/src/core/graphqlClient.ts
  apps/web/src/graphql/generated/index.ts
  apps/web/src/pages/[gameId].tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(round): :lipstick: implement frontend board state
  apps/api/src/answer/answer.schema.ts
  apps/api/src/round/round.repository.ts
  apps/api/src/round/round.service.ts
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/Board/SideColumn.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

feat(round): :sparkles: Add stage state
  apps/api/prisma/seed.ts
  apps/web/locales/pl/common.json
  apps/web/src/components/Board/Board.tsx
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/components/Question.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/WaitingForAnswersStage.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/sendAnswer.mutation.ts
  apps/web/src/helpers/common.ts
  apps/web/src/interfaces/common.ts
  apps/web/src/store/me.ts
  apps/web/src/validators/answerQuestion.validator.ts
Due: eslint --fix, prettier --write

refactor(round): :recycle: split WaitingForAnswerStage to smaller components
  apps/web/src/components/stages/WaitingForAnswerStage/AnswersSection.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/SendAnswerForm.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/WaitingForAnswersStage.tsx
Due: eslint --fix

fix(game): :bug: don't set nextAnseringPlayerId after yieldQuestion
  apps/api/jest.config.js
  apps/api/jest.setup.ts
  apps/api/package.json
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/utils/obtainNextAnsweringPlayersIds.util.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(game): :recycle: extract common part to beforeEach in game service tests
  apps/api/src/game/game.service.test.ts
  apps/api/tests/helpers/miscellaneous.helper.ts
  apps/api/tests/tester.ts
Due: eslint --fix

test(game): :test_tube: Add more tests for answerQuestion function
  .vscode/settings.json
  apps/api/src/game/game.repository.ts
  apps/api/src/game/game.service.test.ts
  apps/api/src/game/game.service.ts
  apps/api/src/game/utils/getAnsweringPlayers.util.ts
  apps/api/src/round/round.service.ts
  apps/api/src/utils/utils.ts
Due: eslint --fix, prettier --write

fix: :bug: set me for game creator also
  apps/api/src/schema.ts
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/components/JoinToGameForm.tsx
  apps/web/src/components/TeamsSection.tsx
  apps/web/src/components/stages/LobbyStage.tsx
  apps/web/src/components/stages/StageController.tsx
  apps/web/src/components/stages/TextSection.tsx
  apps/web/src/components/stages/WaitingForQuestionStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/graphql/mutations/createGame.mutation.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

fix: :bug: revalidate authToken on client after each request
  apps/api/src/game/game.schema.ts
  apps/api/src/round/round.service.ts
  apps/web/src/components/CreateGameForm.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/SendAnswerForm.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/WaitingForAnswersStage.tsx
  apps/web/src/core/graphqlClient.ts
Due: eslint --fix

refactor(round): :recycle: split round graphql objects to smaller chunks
  apps/api/src/answer/answer.schema.ts
  apps/api/src/game/game.schema.ts
  apps/api/src/round/contract/AnsweringPlayer.object.ts
  apps/api/src/round/contract/Board.object.ts
  apps/api/src/round/contract/GameAnswer.object.ts
  apps/api/src/round/contract/GameTeam.object.ts
  apps/api/src/round/contract/Stage.object.ts
  apps/api/src/round/round.schema.ts
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/api/tests/functional/game.test.ts
  apps/web/sdl.gql
  apps/web/src/components/stages/WaitingForAnswerStage/SendAnswerForm.tsx
  apps/web/src/components/stages/WaitingForAnswerStage/WaitingForAnswersStage.tsx
  apps/web/src/graphql/generated/index.ts
  apps/web/src/pages/[gameId].tsx
Due: eslint --fix

fix(round): :bug: count team score based on all answers
  apps/api/src/round/round.service.test.ts
  apps/api/src/round/round.service.ts
  apps/api/src/round/utils/countFailures.utils.ts
  apps/api/src/round/utils/countScore.util.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/*.{js,jsx,ts,tsx})
  prettier --write: any of: *.json
