Repository ChromeGG/familiada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

Add envs validation
  .gitignore
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma/migrations/20220724075924_add_languages_to_question/migration.sql
  apps/api/src/plugins/env.ts
  apps/api/src/plugins/sentry.ts
  apps/api/src/plugins/shutdown.ts
  apps/api/src/plugins/status.ts
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add helmetjs
  apps/api/package.json
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix tsconfig for jest
  apps/api/package.json
  apps/api/tests/api.test.ts
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Replace mercurius and nexus with yoga and pothos
  .vscode/settings.json
  apps/api/README.md
  apps/api/package.json
  apps/api/prisma/migrations/20220723180013_/migration.sql
  apps/api/prisma/migrations/20220724075924_add_languages_to_question/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/user/user-schema.ts
  apps/api/tests/api.test.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove example gql schema
  apps/api/renovate.json
  apps/api/src/plugins/status.ts
  apps/api/src/server.ts
Due: eslint --fix, prettier --write

add context to graphql
  apps/api/src/context.ts
  apps/api/src/server.ts
Due: eslint --fix

Add PrismaPlugin for pothos
  apps/api/package.json
  apps/api/prisma/migrations/20220730162309_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/server.ts
  apps/web/pages/index.tsx
Due: eslint --fix, prettier --write

fix schema and add docker compose
  apps/api/package.json
  apps/api/prisma/migrations/20220731160928_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/plugins/prisma.ts
  apps/api/src/server.ts
  docker-compose.yml
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add curly: true eslint rule
  packages/eslint-config-custom/index.js
Due: eslint --fix

Add GraphQL jit complier
  apps/api/package.json
  apps/api/prisma/migrations/20220731162621_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add dummy authorization
  apps/api/package.json
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add auth for gql
  apps/api/package.json
  apps/api/src/errors/AuthError.ts
  apps/api/src/errors/GraphQLOperationalError.ts
  apps/api/src/plugins/prisma.ts
  apps/api/src/plugins/sentry.ts
  apps/api/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Refactor builder to the separate file
  apps/api/src/builder.ts
  apps/api/src/prisma.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/user/user-schema.ts
  package.json
  packages/eslint-config-custom/index.js
Due: eslint --fix, prettier --write

Remove unused file
  apps/api/README.md
  apps/api/altair-getting-started-collection.agc
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/schema.graphql
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
Due: prettier --write

Add user module
  apps/api/src/builder.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/user/user-schema.ts
Due: eslint --fix

Fix ttypo in schema
  apps/api/prisma/migrations/20220806204039_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/player/player-schema.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/team/team-schema.ts
  apps/web/components/MyComponent.tsx
  apps/web/pages/index.tsx
Due: eslint --fix

Add working subscriptions
  apps/api/src/schema.ts
  apps/api/src/server.ts
Due: eslint --fix

Add players subscription
  .vscode/settings.json
  apps/api/src/builder.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/src/team/team-schema.ts
Due: eslint --fix, prettier --write

Add args validation
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/builder.ts
  apps/api/src/errors/GraphQLOperationalError.ts
  apps/api/src/errors/ValidationError.ts
  apps/api/src/games/game-schema.ts
  apps/api/src/games/games-service.ts
  apps/api/src/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add better GQL error handling
  apps/api/src/builder.ts
  apps/api/src/errors/GraphQLOperationalError.ts
  apps/api/src/errors/LengthError.ts
  apps/api/src/games/game-schema.ts
  apps/api/src/schema.ts
Due: eslint --fix

Declutter the schema file
  .vscode/settings.json
  apps/api/src/errors/error-schema.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.ts
  apps/api/src/player/player-schema.ts
  apps/api/src/schema.ts
Due: eslint --fix, prettier --write

Add TeamColor graphql enum
  apps/api/src/game/game-schema.ts
  apps/api/src/team/team-schema.ts
Due: eslint --fix

Fix TeamColor Enum type
  apps/api/.vscode/settings.json
  apps/api/src/errors/AlreadyExistError.ts
  apps/api/src/errors/LengthError.ts
  apps/api/src/errors/error-schema.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.ts
  apps/api/src/team/team-schema.ts
Due: eslint --fix, prettier --write

Add questions to the seed
  apps/api/prisma/migrations/20220811100814_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
Due: eslint --fix

Update dependencies
  .vscode/settings.json
  apps/api/.vscode/settings.json
  apps/api/package.json
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add onDelete rules for tables
  apps/api/prisma/migrations/20220811142633_init/migration.sql
  apps/api/prisma/schema.prisma
Due: none

Finish createGame service method
  apps/api/src/errors/NotFoundError.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.ts
  apps/api/src/player/player-schema.ts
  apps/api/tests/api.test.ts
Due: eslint --fix

Introduce testing framework
  .npmrc
  apps/api/.env.example
  apps/api/.env.test
  apps/api/.vscode/settings.json
  apps/api/jest.config.js
  apps/api/jest.setup.ts
  apps/api/package.json
  apps/api/src/errors/GraphQLOperationalError.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-service.test.ts
  apps/api/src/game/game-service.ts
  apps/api/src/schema.ts
  apps/api/src/server.ts
  apps/api/tests/helpers.ts
  apps/api/tests/tester.ts
  apps/api/tsconfig.json
  docker-compose.yml
  package.json
  packages/eslint-config-custom/index.js
  packages/tsconfig/base.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

extend the test's assertions
  apps/api/src/game/game-service.test.ts
Due: eslint --fix

Fix issue with starting server
  .eslintrc.cjs
  .npmrc
  .prettierrc.cjs
  apps/api/.eslintrc.cjs
  apps/api/.vscode/settings.json
  apps/api/jest.config.js
  apps/api/jest.setup.ts
  apps/api/package.json
  apps/api/src/game/game-service.test.ts
  apps/api/src/plugins/shutdown.ts
  apps/api/src/plugins/status.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.cjs
  packages/eslint-config-custom/index.js
  packages/tsconfig/base.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

solve issue with packages
  README.md
  apps/api/.env.example
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

Update readme files
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  apps/api/.env.example
  apps/api/README.md
  apps/api/package.json
  apps/web/README.md
  packages/eslint-config-custom/README.md
Due: prettier --write

Fix tests scope
  README.md
  apps/api/.env.test
  apps/api/jest.config.js
Due: eslint --fix

Fix test bug with truncating tables
  .vscode/settings.json
  apps/api/README.md
  apps/api/TODO.md
  apps/api/jest.config.js
  apps/api/src/game/game-schema.ts
  apps/api/tests/helpers.ts
Due: eslint --fix, prettier --write

Add functional test example
  README.md
  apps/api/.env.example
  apps/api/.env.test
  apps/api/.eslintignore
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/builder.ts
  apps/api/src/index.ts
  apps/api/src/server.ts
  apps/api/tests/api.test.ts
  apps/api/tests/helpers.ts
  apps/api/tests/tester.ts
  apps/api/tsconfig.json
  apps/web/pages/index.tsx
  packages/tsconfig/base.json
Due: eslint --fix, prettier --write

Add first functional test
  apps/api/tests/api.test.ts
  apps/api/tests/game.test.ts
  graphql.config.yaml
Due: eslint --fix

Move validation to separate file
  apps/api/src/game/game-schema.ts
  apps/api/src/game/game-validator.ts
Due: eslint --fix

Add one more functional test
  apps/api/tests/game.test.ts
Due: eslint --fix

Fix problem with reloading of dev
  apps/api/TODO.md
  apps/api/package.json
  apps/api/src/game/game-service.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Improve type support on protected routes
  apps/api/src/builder.ts
  apps/api/src/game/game-schema.ts
  apps/api/src/server.ts
Due: eslint --fix
